<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wetterapp.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wetter App</name>
    <description>Eine einfache Wetter-App für aktuelle Wetterdaten</description>
    <author email="info@wetterapp.com" href="https://wetterapp.com">
        Wetter App Team
    </author>
    <content src="index.html" />

    <!-- Permissions -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://wttr.in/*" />
    <allow-navigation href="https://api.openweathermap.org/*" />

    <!-- Access to external resources -->
    <access origin="*" />

    <!-- Platform specific settings -->
    <platform name="android">
        <preference name="Orientation" value="portrait" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    </platform>

    <!-- Global preferences -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff667eea" />
</widget>
